Course : Data Science

Student: Anvitha

Roll No: 1783149

Batch  : 5th June 2025 (3:00 to 5:00 PM) Hyderabad

# **Basics of python Assignment**

##1.Prime Numbers

In [ ]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

# Example test
print(is_prime(7))   # Expected True
print(is_prime(10))  # Expected False

True
False

##2. Product of Random Numbers

In [ ]:
import random

a = random.randint(1, 10)
b = random.randint(1, 10)
print(f"What is the product of {a} and {b}?")

# For demonstration we simulate user input
user_answer = a * b  # replace with int(input()) for real user input

if user_answer == a * b:
    print("Correct!")
else:
    print("Incorrect.")

What is the product of 9 and 7?
Correct!

##3A. Squares of Even Numbers(100-200)

In [ ]:
for i in range(100, 201):
    if i % 2 == 0:
        print(i, i**2)

100 10000
102 10404
104 10816
106 11236
108 11664
110 12100
112 12544
114 12996
116 13456
118 13924
120 14400
122 14884
124 15376
126 15876
128 16384
130 16900
132 17424
134 17956
136 18496
138 19044
140 19600
142 20164
144 20736
146 21316
148 21904
150 22500
152 23104
154 23716
156 24336
158 24964
160 25600
162 26244
164 26896
166 27556
168 28224
170 28900
172 29584
174 30276
176 30976
178 31684
180 32400
182 33124
184 33856
186 34596
188 35344
190 36100
192 36864
194 37636
196 38416
198 39204
200 40000

##3B. Squares of Odd Numbers

In [ ]:
for i in range(100, 201):
    if i % 2 != 0:
        print(i, i**2)

101 10201
103 10609
105 11025
107 11449
109 11881
111 12321
113 12769
115 13225
117 13689
119 14161
121 14641
123 15129
125 15625
127 16129
129 16641
131 17161
133 17689
135 18225
137 18769
139 19321
141 19881
143 20449
145 21025
147 21609
149 22201
151 22801
153 23409
155 24025
157 24649
159 25281
161 25921
163 26569
165 27225
167 27889
169 28561
171 29241
173 29929
175 30625
177 31329
179 32041
181 32761
183 33489
185 34225
187 34969
189 35721
191 36481
193 37249
195 38025
197 38809
199 39601

##4. Word Counter

In [ ]:
from collections import Counter

input_text = "This is a sample text. This text will be used to demonstrate the word counter."
words = input_text.split()
word_count = Counter(words)
print(word_count)

Counter({'This': 2, 'is': 1, 'a': 1, 'sample': 1, 'text.': 1, 'text': 1, 'will': 1, 'be': 1, 'used': 1, 'to': 1, 'demonstrate': 1, 'the': 1, 'word': 1, 'counter.': 1})

##5. Palindrome Check

In [ ]:
def is_palindrome(s):
    s = ''.join(c.lower() for c in s if c.isalnum())  # normalize
    return s == s[::-1]

# Example tests
print(is_palindrome("racecar"))  # Expected True
print(is_palindrome("Hello"))    # Expected False

True
False